    <div class= 'center'>
        <% provide(:title, 'Pulse In') %>
        <h1>Pulse In</h1>

        <%= form_for(:session, :url => sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <br>
        <%= f.submit "Pulse In", :class => "btn btn-large btn-primary" %>
        </br>
        <% end %>
        <br>
        <br>
        <br>
        New to Pulsefy? <%= link_to "Pulsefy yourself now!", pulseup_path %>
        </br>
        </br>
        </br>
    </div>