<% provide(:title, "Edit Profile") %>
<div class = 'pad-block'><div class = 'title-box'> Update Your Account </div></div>
<% if params[:errors] %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <ul>
          <%params[:errors].each do |msg| %>
              <li> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<%end%>

<%= form_for @node, :html => { :action => 'update', :controller => 'nodes', :id => @node.id} do |f| %>

    <%= f.label 'Self Tag' %>
    <%= f.text_field :self_tag %>

    <div class = 'button-box'>
      <%= f.submit 'Update Account Info', :disable_with => 'Updating...', :class => 'btn btn-large btn-primary' %>
    </div>
<% end %>