<% provide(:title, "Edit Profile") %>
<div class = 'pad-block'><div class = 'title-box'> Update Your Pulsefeed </div></div>
    <%= form_for @node, :html => { :action => 'update', :controller => 'nodes', :id => @node.id} do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :info %>
        <%= f.text_area :info, :cols => '4' %>

      <%= f.label 'upload pulsefeed picture' %>
      <div class = 'input'>
        <%if !@node.avatar.file.nil? %>
            <%= image_tag @node.avatar_url(:thumb) %>
        <% else%>
            <%= image_tag 'Q100.jpg' %>
            <%end%>
        <%= f.file_field :avatar %>
      </div>
      <div class = 'button-box'>
        <%= f.submit 'Save changes', :disable_with => 'Updating...', :class => 'btn btn-large btn-primary' %>
      </div>
        <% end %>
