<main>
<% provide(:title, "Edit node") %>
<h1>Update Your Pulsefeed</h1>
    <%= form_for @node, :html => {:multipart => true} do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :info %>
        <%= f.text_area :info, :size => '20x8' %>

      <%= f.label 'upload pulsefeed picture' %>
      <div class = 'input'>
        <%if FileTest.exist?("s3-us-west-2.amazonaws.com/avatars/node/node_thumb#{current_node.id}.jpg")%>
        <%= image_tag @node.avatar_url(:thumb) %>
        <%end%>
        <%= f.file_field :avatar %>
      </div>
        <br>
      <div class = 'center'>
        <%= f.submit 'Save changes', :class => 'btn btn-large btn-primary' %>
      </div>
        </br>
        <% end %>
</main>