  <div class = 'sign-up'>
      <% provide(:title, 'Pulse Up') %>
             <% if params[:errors] %>
                 <div id="error_explanation">
                    <div class="alert alert-error">
                        <ul>
                        <%params[:errors].each do |msg| %>
                        <li> <%= msg %></li>
                        <% end %>
                        </ul>
                    </div>
                </div>
             <%end%>
        <%= form_for(@node) do |f| %>
        <div class = 'new-box'>
            <%= f.label 'name' %>
            <%= f.text_field :username %>

            <%= f.label :email %>
            <%= f.text_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Password Confirmation" %>
            <%= f.password_field :password_confirmation %>
        </div>
        <%= f.submit 'Pulsefy!', :disable_with => 'Pulsefying...', :class => "btn btn-medium btn-primary" %>
  <%end%>
</div>
