<div class='username'>
  <h3> <%= @node.username%></h3>
</div>
  <%if !@node.avatar.file.nil? %>
      <%= image_tag @node.avatar_url(:profile) %>
  <%end%>
<br><div>
 <%= link_to pluralize(@node.assemblies.count, 'assembly'), view_path(:id => @node.id) %> |
  <%= link_to pluralize(@node.inputs.count, 'input'), inputs_path(:id => @node.id) %> |
  <%= link_to pluralize(@node.outputs.count, 'output'), outputs_path(:id => @node.id) %>
</div></br>
<div class='info'>
  <%= @node.info%>
</div>
<% if @node.pulses.any? %>
      <h4>Pulsefeed</h4>
      <ol class="pulses">
        <%= render @pulses %>
      </ol>
      <%= will_paginate @pulses %>
<% end %>