<main>
<div class='username'>
  <h3> <%= @node.username%></h3>
</div>
<% case @node.avatar.nil?%>
<% when false %>
<%= image_tag @node.avatar_url(:profile) if @node.avatar? %>
<% end %>
<div>
 <%= link_to 'Assemblies', view_path(:id => @node.id) %> (<%= @node.assemblies.count%>)
  <%= link_to 'Inputs', inputs_path(:id => @node.id) %> (<%= @node.inputs.count%>)
  <%= link_to 'Outputs', outputs_path(:id => @node.id) %> (<%= @node.outputs.count%>)
</div>

<div class='info'>
  <%= @node.info%>
</div>
<% if @node.pulses.any? %>
      <h3>Pulsefeed</h3>
      <ol class="pulses">
        <%= render @pulses %>
      </ol>
      <%= will_paginate @pulses %>
<% end %>

</main>