<div class = 'pad-block'><div class = 'title-box'><%= @node.username %> </div></div>
  <%if @node.avatar.file %>
      <%= image_tag @node.avatar_url(:profile) %>
    <%else%>
    <%= image_tag 'Q300.jpg'%>
  <%end%>
<div class = 'profile-info'>
  <%= link_to pluralize(@node.assemblies.count, 'assembly'), view_path(:id => @node.id) %> |
  <%= link_to pluralize(@node.inputs.count, 'input'), otherinputs_path(:id => @node.id) %> |
  <%= link_to pluralize(@node.outputs.count, 'output'), otheroutputs_path(:id => @node.id) %>
  <% if @node.id != current_node.id %> |
    <%= link_to :controller => 'messages', :action => 'new', :id => @node.id do  %>
    <i class="fa fa-large fa-envelope"></i>
    <%end%>
  <% end %>
</div>
<div class='info'>
  <%= simple_format(@node.info)%>
</div>
<% if @node.pulses.any? %>
      <h4>Pulsefeed</h4>
      <ol class="pulses">
        <%= render @pulses %>
      </ol>
      <%= will_paginate @pulses %>
<% end %>