<li>
 <div class = 'messenger-box'>
  <%if !Node.find(dialogue.sender_id).avatar.file.nil? %>
      <%= link_to image_tag(Node.find(dialogue.sender_id).avatar_url(:thumb)), :action => 'show', :controller => 'nodes', :id => dialogue.sender_id %>
  <% else%>
      <%= link_to image_tag('Q100.jpg'), :action => 'show', :controller => 'nodes', :id => dialogue.sender_id %>
  <%end%>
 </div>
  <div class = 'time-background'>
      <%= link_to :action => 'show_convos', :controller => 'inboxes', :id => dialogue.id  do  %>
        <% if dialogue.sender_id == current_node.id %>
            <% case dialogue.unread_sender %>
              <% when true %>
                  <span class="badge badge-important">*</span>
              <% end %>
            <%= Node.find(dialogue.receiver_id).username %>
        <% else %>
            <% case dialogue.unread_receiver %>
                 <% when true %>
                     <span class="badge badge-important">*</span>
                 <% end %>
            <%= Node.find(dialogue.sender_id).username %>
      <% end %>
   <% end %>
  </div>
  <div class = 'dialogue-close-container'>
    <%= link_to 'x', unmessage_path(:id => dialogue.id), :disable_with => 'x' %>
  </div>
  <div class = 'receiver-box'>
    <%if !Node.find(dialogue.receiver_id).avatar.file.nil? %>
     <%= link_to image_tag(Node.find(dialogue.receiver_id).avatar_url(:thumb)), :action => 'show', :controller => 'nodes', :id => dialogue.receiver_id %>
    <% else%>
      <%= link_to image_tag('Q100.jpg'), :action => 'show', :controller => 'nodes', :id => dialogue.receiver_id  %>
    <%end%>
  </div>
</li>