<li>
  <div class = 'interrogator-box'>
    <%if !Node.find(convo.interrogator_id).avatar.file.nil? %>
        <%= link_to image_tag(Node.find(convo.interrogator_id).avatar_url(:thumb)), :action => 'show', :controller => 'nodes', :id => convo.interrogator_id %>
    <% else%>
        <%= link_to image_tag('Q100.jpg'), :action => 'show', :controller => 'nodes', :id => convo.interrogator_id %>
    <%end%>
  </div>
  <div class = 'time-background'>
    <div class = 'time-container'>
    <%= link_to :action => 'show_messages', :controller => 'inboxes', :id => convo.id  do  %>
        Started <%= time_ago_in_words(convo.created_at) %> ago.
    <% end %>
    <% if convo.interrogator_id == current_node.id %>
        <% case convo.unread_interrogator %>
    <% when true %>
            <span class="badge badge-important">*</span>
        <% end %>
    <% else %>
        <% case convo.unread_interlocutor %>
    <% when true %>
            <span class="badge badge-important">*</span>
        <% end %>
    <% end %>
  </div>
  </div>
  <div class = 'interlocutor-box'>
    <%if !Node.find(convo.interlocutor_id).avatar.file.nil? %>
        <%= link_to image_tag(Node.find(convo.interlocutor_id).avatar_url(:thumb)), :action => 'show', :controller => 'nodes', :id => convo.interlocutor_id  %>
    <% else%>
        <%= link_to image_tag('Q100.jpg'), :action => 'show', :controller => 'nodes', :id => convo.interlocutor_id  %>
    <%end%>
  </div>
</li>