<%= form_for(@pulse) do |f| %>
    <% if params[:errors] %>
        <div id="error_explanation">
          <ul>
        <%params[:errors].each do |msg| %>
            <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
    <%end%>
    <div class="textfield">
      <%= f.text_field :headline, :rows => 1, :cols => 20, :placeholder => "Add a headline" %>
    </div>
    <div class="textfield">
      <%= f.text_field :link, :rows => 1, :cols => 20, :placeholder => "Add a link" %>
    </div>
    <div class="textarea">
    <%= f.text_area :content, :rows => 1, :placeholder => "Compose a pulse...", :rows => '5'%>
    </div>
    <div class="textfield">
      <%= f.text_field :tags, :rows => 1, :cols => 20, :placeholder => "Add hash tags" %>
    </div>
    <%= f.hidden_field :pulser, :value => current_node.id %>
    <%= f.hidden_field :pulser_type, :value => "Node" %>
    <div class = 'button-box'>
    <%= f.submit "Fire!", :disable_with => 'Firing', :class => 'btn btn-medium btn-primary' %>
    </div>
<% end %>