<%= form_for(@pulse) do |f| %>
    <% if params[:errors] %>
        <div id="error_explanation">
          <ul>
        <%params[:errors].each do |msg| %>
            <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
    <%end%>
    <div class="textfield">
      <%= f.text_field :headline, :placeholder => "Add a headline" %>
    </div>
    <div class="textfield">
      <%= f.text_field :link, :placeholder => "Add a link" %>
    </div>
    <div class="textfield">
      <%= f.text_area :content, :placeholder => "Compose a pulse..."%>
    </div>
    <div class="textfield">
      <%= f.text_field :tags, :placeholder => "Add comma separated tags" %>
    </div>
    <%= f.hidden_field :pulser, :value => current_node.id %>
    <%= f.hidden_field :pulser_type, :value => "Node" %>
    <%= f.submit "Fire!", :class => "btn btn-medium btn-primary" %>
<% end %>