<div class = 'show-info'>
    Depth: <%= @pulse.depth %>
    <div class="tags">
     <%= @pulse.tags %>
    </div>
  </div>
<div class = 'rating-wrapper'>
        <%if signed_in? %>
            <% case @pulse.pulser == current_node.id %>
        <% when false %>
                <% if current_node.votes.find_by_pulse_id(@pulse.id).nil?%>
              <div class = 'left-block'>
                    <%= link_to(cast_path(:id => @pulse.id, :vote_cast => true)) do %>
                         <div class = 'rating-show-wrapper-up'>
                           <i class='fa fa-large fa-thumbs-up'></i>
                         </div>
                  <%end%>
                   <div class = 'number-block'> <%= @pulse.reinforcements %>   </div>
              </div>
              <div class = 'right-block'>
                    <%= link_to(cast_path(:id => @pulse.id, :vote_cast => false)) do %>
                        <div class = 'rating-show-wrapper-down'>
                           <i class='fa fa-large fa-thumbs-down'></i>
                        </div>
                <% end%>
              <div class = 'number-block'>   <%= @pulse.degradations %>  </div>
              </div>
                <% else %>
              <div class = 'left-block'>
                    <div class = 'rating-show-wrapper-up'>
                        <i class='fa fa-large fa-thumbs-up'></i>
                    </div>
              <div class = 'number-block'>   <%= @pulse.reinforcements %></div>
                </div>
                <div class = 'right-block'>
                    <div class = 'rating-show-wrapper-down'>
                        <i class='fa fa-large fa-thumbs-down'></i>
                    </div>
              <div class = 'number-block'> <%= @pulse.degradations %>  </div>
              </div>
                 <%end%>
            <%when true %>
          <div class = 'left-block'>
                    <div class = 'rating-show-wrapper-up'>
                        <i class='fa fa-large fa-thumbs-up'></i>
                    </div>
          <div class = 'number-block'>   <%= @pulse.reinforcements %></div>
            </div>
          <div class = 'right-block'>
                    <div class = 'rating-show-wrapper-down'>
                        <i class='fa fa-large fa-thumbs-down'></i>
                    </div>
          <div class = 'number-block'> <%= @pulse.degradations %>  </div>
          </div>
            <%end%>
         <%end%>
</div>