<li>
  <div class="headline"><%= pulse.headline %></div>
  <% case pulse.link_type %>
  <%when 'video' %>
      <div class ="video-container"><%= raw pulse.embed_code %></div>
  <%when 'photo' %>
      <div class ="photo-container"> <img src = <%= raw pulse.url %> ></div>
  <%else%>
  <a href = <%= pulse.link %>><%= pulse.link%></a>
   <%end%>
  <div class = 'content'><%= pulse.content %></div>
      <br></br>
    <div class = 'info-container'>
      <% case Node.find(pulse.pulser).avatar_url(:thumb).nil? %>
      <% when false %>
      <%= image_tag Node.find(pulse.pulser).avatar_url(:thumb) %>
      <% else %>
      <%= image_tag 'default.gif' %>
      <% end %>
      <span class = 'details'>
        Pulsed by
        <%if signed_in? and pulse.pulser == current_node.id %>
        Me
        <%else %>
        <%= Node.find(pulse.pulser).username %>
       <%end%>
  <%= link_to 'comment', comment_path(:id => pulse.id) %></d>
  <br>
  Depth: <%= pulse.depth %>
  </br>
  <span class="timestamp">
    Fired <%= time_ago_in_words(pulse.created_at) %> ago.
  </span>
    <br><span class="tags"><%= pulse.tags %></span></br>
   <%if signed_in? and pulse.pulser != current_node.id and current_node.votes.find_by_pulse_id(pulse.id).nil? and pulse.pulser_type == 'Node'%>

  <d><%= link_to 'reinforce', cast_path(:id => pulse.id, :vote_cast => true) %></d>
    <d><%= link_to 'degrade', cast_path(:id => pulse.id, :vote_cast => false) %></d>
     <% end%>
     <% if signed_in? and pulse.pulser == current_node.id %>
     <%= link_to 'delete', delete_path(:id => pulse.id) %>
     <% end%>
  </span>
 </div>
</li>