<li>
  <div class = 'soma'>
    <%if !current_node.avatar.file.nil? %>
        <%= image_tag current_node.avatar_url(:thumb) %>
    <%end%>
    <div class = 'close-container'>
      <%= link_to image_tag('close.png', :border => 0),
                  delete_path(:id => pulse.id) %>
    </div>
    <div class = 'soma-to-axon'></div>
  </div>
<div class = 'axon-wrap'>
  <div class = 'axon'>
    <div class="headline">
      <%= pulse.headline %>
    </div>
  <% case pulse.link_type %>
  <%when 'video' %>
      <div class ="video-container"><%= raw pulse.embed_code %></div>
  <%when 'photo' %>
      <div class ="photo-container"> <img src = <%= raw pulse.url %> ></div>
  <%else%>
      <div class ="link-container"><a href = <%= pulse.link %>><%= pulse.link%></a></div>
  <%end%>
    <div class = 'text-wrapper'>
  <%= pulse.content %>
   </div>
    <div class = 'info-container'>
            Depth: <%= pulse.depth %><br>
           <div class="timestamp">
             Fired <%= time_ago_in_words(pulse.created_at) %> ago.
             <span class="tags"><%= pulse.tags %></span>
            </div>
    </div>
      <div class = 'rating-wrapper'>
        <%if signed_in? and pulse.pulser_type == 'Node'%>
              <% case pulse.pulser == current_node.id %>
              <% when false %>
                  <% if current_node.votes.find_by_pulse_id(pulse.id).nil?%>
                  <%= link_to image_tag('Up.png'), cast_path(:id => pulse.id, :vote_cast => true) %>
                  <%= pulse.reinforcements %>
                  <%= link_to image_tag('Down.png'), cast_path(:id => pulse.id, :vote_cast => false) %>
                  <%= pulse.degradations %>
                  <% else %>
                      <%= image_tag 'Up.png' %>
                      <%= pulse.reinforcements %>
                      <%= image_tag 'Down.png' %>
                      <%= pulse.degradations %>
                  <%end%>
              <% when true %>
                  <%= image_tag 'Up.png' %>
                  <%= pulse.reinforcements %>
                  <%= image_tag 'Down.png' %>
                  <%= pulse.degradations %>
              <%end%>
        <%end%>
    </div>
  <div class = 'comment-box'>
    <%= link_to 'comment', comment_path(:id => pulse.id) %>
  </div>
 </div>
</div>
</li>