<li>
  <% if signed_in? and pulse.pulser == current_node.id %>
      <div class = 'close-container'>
      <%= link_to image_tag('close.png', :border => 0),
                  delete_path(:id => pulse.id) %>
      </div>
  <% end%>
  <div class="headline"><%= pulse.headline %></div>
  <% case pulse.link_type %>
  <%when 'video' %>
      <div class ="video-container"><%= raw pulse.embed_code %></div>
  <%when 'photo' %>
      <div class ="photo-container"> <img src = <%= raw pulse.url %> ></div>
  <%else%>
      <div class ="link-container"><a href = <%= pulse.link %>><%= pulse.link%></a></div>
  <%end%>
  <div class = 'content'><%= pulse.content %></div>
    <div class = 'info-container'>
        <div class = 'avatar-container'>
         <%= link_to image_tag('default.gif'), :controller => 'nodes',
         :action => 'show', :id => pulse.pulser %>
        </div>
        <div class = 'details'>
            Depth: <%= pulse.depth %><br>
           <div class="timestamp">
             Fired <%= time_ago_in_words(pulse.created_at) %> ago.
            </div>
        <div class="tags"><%= pulse.tags %></div>
        <%if signed_in? and pulse.pulser_type == 'Node'%>
              <% if current_node.votes.find_by_pulse_id(pulse.id).nil? %>
                  <% if pulse.pulser != current_node.id %>
                  <%= link_to image_tag('Up.png'), cast_path(:id => pulse.id, :vote_cast => true) %>
                  <%= pulse.reinforcements %>
                  <%= link_to image_tag('Down.png'), cast_path(:id => pulse.id, :vote_cast => false) %>
                  <%= pulse.degradations %>
                  <%end%>
              <% else %>
                  <%= image_tag 'Up.png' %>
                  <%= pulse.reinforcements %>
                  <%= image_tag 'Down.png' %>
                  <%= pulse.degradations %>
              <%end%>
        <%end%>
 </div>
</div>
  <div class = 'comment-box'>
    <%= link_to 'comment', comment_path(:id => pulse.id) %>
  </div>
</li>