<li>
  <div class = 'soma'>
    <div class = 'picture-holder'>
    <%if !Node.find(pulse.pulser).avatar.file.nil? %>
        <%= image_tag Node.find(pulse.pulser).avatar_url(:thumb) %>
        <%else%>
    <%= image_tag 'Q100.jpg' %>
    <%end%>
      </div>
    <% if Node.find(pulse.pulser).outputs.include?(current_node) %>
        <div class = 'dendrite'>
          <div class = 'synapse'></div>
        </div>
    <% end %>
    <% if signed_in? and pulse.pulser == current_node.id %>
    <div class = 'pulse-close-container'>
      <%= link_to 'x', delete_path(:id => pulse.id) %>
    </div>
    <% end %>
    <div class = 'soma-to-axon'></div>
    </div>
<div class = 'axon-wrap'>
  <div class = 'axon'>
    <% if !pulse.headline.nil? %>
    <div class="headline">
      <%= pulse.headline %>
    </div>
    <% end %>
  <%if pulse.link %>
      <% case pulse.link_type %>
      <%when 'video' %>
          <div class ="video-container"><%= raw pulse.embed_code %></div>
      <%when 'photo' %>
          <div class ="photo-container"> <img src = <%= raw pulse.url %> ></div>
      <%else%>
            <%if !pulse.link.nil? %>
          <div class ="link-container"><a href = <%= pulse.link %>><%= pulse.link%></a></div>
            <%end%>
      <%end%>
  <% end %>
    <div class = 'text-wrapper'>
  <%= simple_format(pulse.content) %>
   </div>
    <div class = 'info-container'>
      <div class = 'depth'>Depth: </div><div class = 'number-block'><%= pulse.depth %></div>
        <%if signed_in? %>
            <% case pulse.pulser == current_node.id %>
        <% when false %>
                <% if current_node.votes.find_by_pulse_id(pulse.id).nil?%>
                    <div class = 'thumb-up-block'>
                      <%= link_to(cast_path(:id => pulse.id, :vote_cast => true)) do %>
                          <i class='fa fa-large fa-thumbs-up'></i>
                      <% end %>
                     <div class = 'number-block'><%= pulse.reinforcements %></div>
                    </div>
                    <div class = 'thumb-down-block'>
                      <%= link_to(cast_path(:id => pulse.id, :vote_cast => false)) do %>
                          <i class='fa fa-large fa-thumbs-down'></i>
                      <% end %>
                      <div class = 'number-block'><%= pulse.degradations %></div>
                    </div>
                <% else %>
                    <div class = 'thumb-up-block'>
                      <i class='fa fa-large fa-thumbs-up'></i>
                      <div class = 'number-block'><%= pulse.reinforcements %></div>
                    </div>
                    <div class = 'thumb-down-block'>
                      <i class='fa fa-large fa-thumbs-down'></i>
                      <div class = 'number-block'><%= pulse.degradations %></div>
                    </div>
                <%end%>
            <% when true %>
                <div class = 'thumb-up-block'>
                  <i class='fa fa-large fa-thumbs-up'></i>
                  <div class = 'number-block'><%= pulse.reinforcements %></div>
                </div>
                <div class = 'thumb-down-block'>
                  <i class='fa fa-large fa-thumbs-down'></i>
                  <div class = 'number-block'><%= pulse.degradations %> </div>
                </div>
            <%end%>

      <% case current_node.repulses.find_by_pulse_id(pulse.id).nil? %>
      <% when true%>
          <% if current_node.pulses.include?(pulse) and pulse.pulser != current_node.id %>
              <div class = 'refire-block'>
                <%= link_to(refire_path(:id => pulse.id)) do %>
                    <i class='fa fa-large fa-mail-forward'></i>
                <% end %>
              </div>
              <div class = 'number-block'><%= pulse.refires %></div>
          <% else %>
              <div class = 'refire-block'>
                    <i class='fa fa-large fa-mail-forward'></i>
              </div>
              <div class = 'number-block'><%= pulse.refires %></div>
          <%end%>
          <% when false %>
              <div class = 'refire-block'>
                <i class='fa fa-large fa-mail-forward'></i>
              </div>
              <div class = 'number-block'><%= pulse.refires %></div>
   <%end%>
 <%end%>
    <div class="tags"><%= pulse.tags %></div>
     <div class = 'mid-info'>
      <div class = 'comment-box'>
        <%= link_to pluralize(pulse.pulse_comments.count, 'comment'), comment_path(:id => pulse.id) %>
      </div>
       <div class="timestamp">
        Fired <%= time_ago_in_words(pulse.created_at) %> ago.
      </div>
     </div>
   </div>
  </div>
 </div>
</li>