<li>
  <h5><div class="content"><%= pulse.content %></h5>
  <%if pulse.link_type == 'video' %>
      <div class ="video-container"><%= raw pulse.embed_code %></div>
  <%else if pulse.link_type == 'photo' %>
      <div class ="photo-container"> <img src = <%= raw pulse.url %> > </div>
  <%else%>
      <a href = <%= pulse.link %>><%= pulse.link%></a><br> </br>
<%end%>
  <%end%>
  <span>
    <%= image_tag Node.find(pulse.pulser).avatar_url(:thumb) if Node.find(pulse.pulser).avatar? %>
    Pulsed by
    <%if signed_in? and pulse.pulser == current_node.id %>
        Me
        <%= link_to 'delete', delete_path(:id => pulse.id) %>
        <%else %>
        <%= Node.find(pulse.pulser).username %>
    <%end%>
  <%if signed_in? and pulse.pulser != current_node.id and current_node.votes.find_by_pulse_id(pulse.id).nil? and pulse.pulser_type == 'Node'%>

  <d><%= link_to 'reinforce', cast_path(:id => pulse.id, :vote_cast => true) %></d>
    <d><%= link_to 'degrade', cast_path(:id => pulse.id, :vote_cast => false) %></d>
  </span>
  <%end%>
  <span><%= link_to 'comment', comment_path(:id => pulse.id) %></d></span>
  <br>
  <span> Depth: <%= pulse.depth %></span>
  </br> </span>
  <span class="timestamp">
    Fired <%= time_ago_in_words(pulse.created_at) %> ago.
  </span>
  <div class="tags"><%= pulse.tags.split(',') %></div>
  </span>

</li>