<div class = 'pad-block'>
  <div class = 'title-box'>
    <%if !@pulse.headline.nil?%>
      <%= @pulse.headline %>
    <%end%>
  </div>
</div>
<% case @pulse.link_type %>
<%when 'video' %>
   <div class = "show-container"><%= raw @pulse.embed_code %></div>
<%when 'photo' %>
   <div class = 'photo-show-container'> <img src = <%= raw @pulse.url %>> </div>
<%else%>
    <a href = <%= @pulse.link %>><%= @pulse.link%></a>
<%end%>
   <div class = 'show-text-wrapper'><%= simple_format(@pulse.content) %></div>
<div class = 'info-show-container'><%= render 'pulses/info'%></div>
<div class = 'pulse-comment-wrapper'>
   <h4>Comments:</h4>
          <% if @pulse.pulse_comments.any? %>
            <ol class="pulse_comments">
              <%= render @pulse_comments %>
            </ol>
             <%= will_paginate @pulse_comments %>
        </div>
<% end %>