<div class = 'pulsefeed'>
 <div class = 'inner-pulse'>
   <div class = 'show-wrapper'>
     <div class = 'show-headline'>
  <%if !@pulse.headline.nil?%>
 <h3><%= @pulse.headline %></h3>
  <%end%>
     </div>
<% case @pulse.link_type %>
<%when 'video' %>
<div class = "show-container"><%= raw @pulse.embed_code %></div>
<%when 'photo' %>
    <img src = <%= raw @pulse.url %>>
<%else%>
    <a href = <%= @pulse.link %>><%= @pulse.link%></a>
<%end%>
   <div class = 'show-text-wrapper'><%= @pulse.content %></div>
   <div class = 'info-show-container'> <%= render 'pulses/info'%> </div>
     <div class = 'inner-comment'>
             <% if @pulse.pulse_comments.any? %>
              <h4>Comments</h4>
             <ol class="pulses">
                  <%= render @pulse_comments %>
             </ol>
              <%= will_paginate @pulse_comments %>
    <% end %>
      </div>
    </div>
   </div>
  </div>
