<div class="headline"><%= @pulse.headline %></div>
<%if @pulse.link_type == 'video' %>
    <div class ="video-container"><%= raw @pulse.embed_code %></div>
<%else %>
    <%if @pulse.link_type == 'photo' %>
        <div class ="photo-container"> <img src = <%= raw @pulse.url %> > </div>
    <%else%>
        <div><a href = <%= @pulse.link %>><%= @pulse.link%></a></div>
    <% end %>

<% end %>
  <span>Pulsed by
    <%if @pulse.pulser == current_node.id %>
        Me
        <%else %>
        <%= Node.find(@pulse.pulser).username %>
    <%end%>
   </span>
  <% if @pulse.pulse_comments.any? %>
      <h4>Comments (<%= @pulse.pulse_comments.count %>)</h4>
      <ol class="pulse_comments">
        <%= render @pulse_comments %>
      </ol>
      <%= will_paginate @pulse_comments %>
  <% end %>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/pulse_comment_form' %>
      </section>
    </aside>
  </div>