<main>
<div class = "show-container">
<div class="headline"><%= @pulse.headline %></div>
<% case @pulse.link_type %>
<%when 'video' %>
<%= raw @pulse.embed_code %>
<%when 'photo' %>
    <img src = <%= raw @pulse.url %> >
<%else%>
    <a href = <%= @pulse.link %>><%= @pulse.link%></a>
<%end%>
<div class = 'content'><%= @pulse.content %></div>
<div class = 'info-container'>
  <%= image_tag Node.find(@pulse.pulser).avatar_url(:thumb) if Node.find(@pulse.pulser).avatar? %>
  <span class = 'details'>
        Pulsed by
    <%if signed_in? and @pulse.pulser == current_node.id %>
        Me
        <%= link_to 'delete', delete_path(:id => @pulse.id) %>
        <%else %>
        <%= Node.find(@pulse.pulser).username %>
        </span>
        </div>
    <%end%>
  <% if @pulse.pulse_comments.any? %>
      <h4>Comments (<%= @pulse.pulse_comments.count %>)</h4>
      <ol class="pulse_comments">
        <%= render @pulse_comments %>
      </ol>
      <%= will_paginate @pulse_comments %>
  <% end %>

  <div class="row">
    <aside class="span4">
        <%= render 'shared/pulse_comment_form' %>
    </aside>
  </div>
 </div>
</main>