<li xmlns="http://www.w3.org/1999/html">
  <br><div class = 'content'><%= pulse_comment.content %></div></br>
  <% case Node.find(pulse_comment.commenter).avatar_url(:thumb).nil? %>
  <% when false %>
      <%= image_tag Node.find(pulse_comment.commenter).avatar_url(:thumb) %>
  <% else %>
      <%= image_tag 'default.gif' %>
  <% end %>
 <% if current_node.id == pulse_comment.commenter %>
   <%= link_to 'delete', uncomment_path(:id => pulse_comment.id) %>
  <%end%>
  <br>
<span class="timestamp">Commented <%= time_ago_in_words(pulse_comment.created_at) %> ago.
</span>
  </br>
</li>