<li>
  <div class = 'micro-soma'>
      <%if !Node.find(pulse_comment.commenter).avatar.file.nil? %>
          <%= image_tag Node.find(pulse_comment.commenter).avatar_url(:micro) %>
    <%else%>
        <%= image_tag 'Q50.jpg' %>
      <%end%>
    <div class = 'micro-soma-to-axon'></div>
    </div>
  <div class = 'micro-axon'>
    <div class = 'com-wrapper'>
    <%= simple_format(pulse_comment.content) %>
    </div>
    <div class = 'micro-close-container'>
      <%= link_to 'x', uncomment_path(:id => pulse_comment.id) %>
    </div>
<div class="timestamp">Commented <%= time_ago_in_words(pulse_comment.created_at) %> ago.
</div>
</div>
</li>