<li>
  <div class = 'micro-soma'>
    <%case pulse_comment.current_commenter.avatar.file.nil? %>
       <% when false %>
          <%= link_to image_tag(pulse_comment.current_commenter.avatar_url(:micro)),"/show/#{pulse_comment.commenter}"%>
        <%else%>
          <%= link_to image_tag('50.jpg'),"/show/#{pulse_comment.commenter}"%>
     <%end%>
    <div class = 'micro-soma-to-axon'></div>
    </div>
  <div class = 'micro-axon'>
    <div class = 'com-wrapper'>
    <%= simple_format(pulse_comment.content) %>
<div class="pulse-stamp">Commented <%= time_ago_in_words(pulse_comment.created_at) %> ago.
</div>
</div>
    <div class = 'micro-close-container'>
      <%= link_to 'x', uncomment_path(:id => pulse_comment.id), :disable_with => 'x' %>
    </div>
</div>
</li>