<li>
  <%if !assembly.avatar.file.nil? %>
      <%= image_tag assembly.avatar_url(:thumb) %>
  <% else%>
      <%= image_tag 'Q100.jpg' %>
  <%end%>
  <div class ='name-container'>
  <%= link_to assembly.title, assembly_path(:id => assembly.id) %>
  </div>
  <!--<% if signed_in? and assembly.founder == current_node.id %>-->
      <!--<span class="founder">founded by Me</span>-->
      <!--<div class = 'assembly-close'> <%= link_to 'x', assembly, :method => :delete, :disable_with => 'x' %></div>-->
  <!--<% else %>-->
      <!--<span class="founder">founded by <%= Node.find(assembly.founder).username %></span>-->
   <!--<% end %>-->
</li>

