<%= form_for(@pulse) do |f| %>
    <div class="field">
      <%= f.text_field :headline, :placeholder => "Add a headline" %>
    </div>
    <div class="field">
      <%= f.text_field :link, :placeholder => "Add a link" %>
    </div>
    <div>
      <%= f.text_area :content, :placeholder => "Compose a pulse...", :rows => '5'%>
    </div>
    <div class="field">
      <%= f.text_field :tags, :placeholder => "Add comma separated tags" %>
    </div>
    <%= f.hidden_field :pulser, :value => current_node.id %>
    <%= f.hidden_field :pulser_type, :value => "Assembly" %>
    <%= f.submit "Fire!", :class => "btn btn-medium btn-primary" %>
<% end %>