<div class = 'pad-block'><div class = 'title-box'>Crop Photo </div></div>
<% if params[:errors] %>
    <div id="error_explanation">
      <div class="alert alert-error">
        <ul>
          <%params[:errors].each do |msg| %>
              <li> <%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<%end%>
<% content_for(:head) do %>
    <%= stylesheet_link_tag 'jquery.Jcrop' %>
    <%= javascript_include_tag 'jquery.Jcrop.min' %>

    <script type = 'text/javascript' charset='utf-8'>

        $(function() {
            $('#cropbox').Jcrop({
                onChange: update_crop,
                onSelect: update_crop,
                setSelect: [0, 0, 250, 250],
                minSize: [ 250, 250 ],
                maxSize: [ 600, 600 ],
                aspectRatio: 1
            });
        });

        function update_crop(coords) {
            var rx = 100/coords.w;
            var ry = 100/coords.h;
            var lw = $('#cropbox').width();
            var lh = $('#cropbox').height();
            var ratio = <%= @assembly.avatar_geometry[:width] %> / lw ;

            $('#preview').css({
                width: Math.round(rx * lw) + 'px',
                height: Math.round(ry * lh) + 'px',
                marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                marginTop: '-' + Math.round(ry * coords.y) + 'px'
            });
            $("#crop_x").val(Math.round(coords.x * ratio));
            $("#crop_y").val(Math.round(coords.y * ratio));
            $("#crop_w").val(Math.round(coords.w * ratio));
            $("#crop_h").val(Math.round(coords.h * ratio));
        }
    </script>
<% end %>

<%= image_tag @assembly.avatar_url(:large), :id => "cropbox" %>

        <%= form_for @assembly, :url => { :action => 'crop_update', :controller => 'assemblies', :id => @assembly.id} do |f| %>
    <% for attribute in [:crop_x, :crop_y, :crop_h, :crop_w] %>
        <%= f.hidden_field attribute, :id => attribute %>
    <% end %>
    <div class = 'button-box'><%= f.submit "Crop", :disable_with => 'Cropping', :class => 'btn btn-large btn-primary' %></div>
<% end %>