<div class = 'pad-block'><div class = 'title-box'>Edit Your Assembly </div></div>
<% provide(:title, "Edit assembly") %>

    <%= form_for @assembly, :html => {:multipart => true} do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <%= f.label :info %>
        <%= f.text_area :info, :size => '20x8' %>

        <%= f.label 'upload assembly picture' %>

        <%if !@assembly.avatar.file.nil? %>
        <%= image_tag @assembly.avatar_url(:thumb) %>
        <%else%>
          <%= image_tag 'Q100.jpg' %>
        <% end %>
        <%= f.file_field :avatar %>
        <br> <div class='center'>
        <%= f.submit 'Save changes', :class => 'btn btn-large btn-primary' %>
        </div>
    <% end %>