<% provide(:title, "Edit assembly") %>
<h1>Update <td><%= @assembly.title %></td> </h1>

    <%= form_for @assembly, :html => {:multipart => true} do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <%= f.label :info %>
        <%= f.text_area :info, :size => '20x8' %>

        <%= f.label 'upload assembly picture' %>

        <%if !@assembly.avatar.file.nil? %>
        <%= image_tag @assembly.avatar_url(:thumb) %>
        <% end %>
        <%= f.file_field :avatar %>
        <br> <div class='center'>
        <%= f.submit 'Save changes', :class => 'btn btn-large btn-primary' %>
        </div></br>
    <% end %>