<div class = 'pad-block'><div class = 'title-box'>Assemble</div></div>
<div class = 'new-box'>
      <%= form_for(@assembly) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :info %>
      <div class="textarea">
      <%= f.text_area :info, :cols => 4%>
      </div>

    <div class = 'input'>
      <%if !@assembly.avatar.file.nil? %>
          <%= image_tag @assembly.avatar_url(:thumb) %>
      <% else%>
          <%= image_tag 'Q100.jpg' %>
      <%end%>
      <%= f.file_field :avatar %>
    </div>
   <div class = 'button-box'>
      <%= f.submit 'Assemble!', :disable_with => 'Assembling...', :class => 'btn btn-medium btn-primary' %>
      </div>
      </div>
    <% end %>