<div class = 'pad-block'><div class = 'title-box'>Assemble</div></div>
<% if params[:errors] %>
      <div id="error_explanation">
        <div class="alert alert-error">
      <ul>
        <%params[:errors].each do |msg| %>
            <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
   </div>
<%end%>

<div class = 'new-box'>
      <%= form_for(@assembly) do |f| %>

      <div class="textfield">
      <%= f.label :title %>
      <%= f.text_field :title %>
      </div>

      <div class="textarea">
      <%= f.label :info %>
      <%= f.text_area :info %>
      </div>

    <div class = 'input'>
      <%if !@assembly.avatar.file.nil? %>
          <%= image_tag @assembly.avatar_url(:thumb) %>
      <% else%>
          <%= image_tag 'Q100.jpg' %>
      <%end%>
      <%= f.file_field :avatar %>
    </div>
   <div class = 'button-box'>
      <%= f.submit 'Assemble!', :disable_with => 'Assembling...', :class => 'btn btn-medium btn-primary' %>
      </div>
      </div>
    <% end %>