
      <%= form_for(@assembly) do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, :size => '15x8' %>

      <%= f.label :info %>
      <div class="textarea">
      <%= f.text_area :info, :size => '15x8' %>
      </div>

      <%= f.submit 'Assemble!', :class => 'btn btn-medium btn-primary' %>
      </div>
      <% end %>