<div class="row">
  <div class="span6 offset3">
    <%= form_for(@assembly) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>

        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :info %>
        <%= f.text_area :info, :size => '20x8' %>

        <div class='center'>
        <%= f.submit 'Assemble!', :class => "btn btn-large btn-primary" %>

    </div>
    <% end %>
  </div>
</div>
</html>