<div class = 'pulsefeed'>
<div>
  <h3><%= @assembly.title%></h3>
</div>
  <br><%if !@assembly.avatar.file.nil? %>
      <%= image_tag @assembly.avatar_url(:profile) %>
  <%end%>
  <br>
  <%= link_to pluralize(@assembly.nodes.count, 'member'), members_path(:id => @assembly.id)%>
  <br>
  <div class='info'>
    <%= @assembly.info%>
  </div>
  <br>
  <% if signed_in? %>
    <% if current_node.assemblies.include?(@assembly)%>
      <% if @assembly.founder == current_node.id %>
         <%= link_to 'edit', reassemble_path(:id => @assembly.id)%>
        <% else %>
        <%= link_to 'quit', quit_path(:id => @assembly.id)%>
        <% end %>
        <% if params[:errors] %>
            <div class="alert alert-error">
              The form contains <%= pluralize(params[:errors].count, "error") %>.
            </div>
            <div id="error_explanation">
              <ul>
                <%params[:errors].each do |msg| %>
                    <li> <%= msg %></li>
                <% end %>
              </ul>
            </div>
        <%end%>
      <% else %>
        <%= link_to 'join', join_path(:id => @assembly.id)%>
    <% end %>
  <% end %>
  <% if @assembly.pulses.any? %>
      <h4>Pulsefeed</h4>
      <ol class="pulses">
        <%= render @pulses %>
      </ol>
      <%= will_paginate @pulses %>
  <% end %>
</div>