<div>
  <div class = 'pad-block'><div class = 'title-box'><%= @assembly.title %> </div></div>
</div>
  <%if !@assembly.avatar.file.nil? %>
      <%= image_tag @assembly.avatar_url(:profile) %>
<%else%>
    <%= image_tag 'Q300.jpg' %>
  <%end%>
<div class = 'profile-info'>
  <%= link_to pluralize(@assembly.nodes.count, 'member'), members_path(:id => @assembly.id)%> |
  <% if signed_in? %>
    <% if current_node.assemblies.include?(@assembly)%>
      <% if @assembly.founder == current_node.id %>
         <%= link_to 'edit', reassemble_path(:id => @assembly.id)%>
        <% else %>
        <%= link_to 'quit', quit_path(:id => @assembly.id)%>
        <% end %>
          </div>
          <div class='info'>
            <%= simple_format(@assembly.info)%>
          </div>
      <% else %>
        <%= link_to 'join', join_path(:id => @assembly.id)%>
    <% end %>
  <% end %>
  <% if @assembly.pulses.any? %>
      <h4>Pulsefeed</h4>
      <ol class="pulses">
        <%= render @pulses %>
      </ol>
      <%= will_paginate @pulses %>
  <% end %>