<header class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class = 'head-mar'>
       <nav>
         <ul class="nav pull-left">
             <li>
            <div class = 'logo-box'>
              <%= link_to image_tag("logo.png"), {:action => 'home', :controller => 'static'} %>
            </div>
             </li>
           <li><%= form_tag(nodes_path, :method => "get", id: "search-form") do %>
                 <div class = 'search-container'>
                   <div class ='search-button-container'>
                     <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
                   </div>
                   <div class ='search-button-container'>
                     <button type="submit" class="btn"><i class="icon-search"></i></button>
                   </div>
             <% end %>
             </div>
           </li>
           </ul>
       </nav>
           <% if signed_in? %>
            <nav>
            <ul class="nav pull-right">
                    <li> <a href='/'> Home </a> </li>
                    <li> <%= link_to 'Assemblies', view_path(:id => current_node.id) %></li>
                    <li> <%= link_to 'Connections', inputs_path(:id => current_node.id) %></li>
                    <li> <%= link_to inbox_path do %>
                          <i class='fa fa-small fa-envelope'></i>
                          <% if current_node.unreads.count > 0 %>
                          <span class="badge badge-important"><%= current_node.unreads.count %></span>
                          <% end %>
                          <%end%>
                    </li>
                  <li id='fat-menu' class='dropdown'>
                    <a href='#' class='dropdown-toggle' data-toggle='dropdown'>
                      <i class="fa fa-large fa-cog"></i></a>
                    <ul class='dropdown-menu'>
                      <li><%= link_to 'My Profile', current_node %></li>
                      <li><%= link_to 'Settings', edit_path(:id => current_node.id) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to 'Pulse out', pulseout_path, :method => 'delete' %>
                      </li>
                    </ul>
                  </li>
              <% else %>
                  <li><%= link_to 'Pulse in', pulsein_path %></li>
                  <li><%= link_to 'Home', root_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
  </div>
</header>