<div class = 'left-pane'>
    <div class = 'side-name'>
      <%if !current_node.avatar.file.nil? %>
          <%= image_tag Node.find(current_node.id).avatar_url(:thumb) %>
          <% else %>
          <%= image_tag 'Q100.jpg' %>
      <%end%>
    </div>
    <div class = 'side-connect'>
    </div>
    <div class = 'side-dendrite'>
      <div class = 'side-synapse'></div>
    </div>
    <div class = 'impulse'>
      <%case params[:controller]%>
      <%when 'static'%>
          <%if params[:action] == 'home'%>
              <%= render 'shared/pulse_form' %>
          <%end%>
      <%when 'assemblies'%>
          <%if params[:action] ==  'show'%>
              <%= render 'assemblies/assembly_pulse_form' %>
          <%end%>
      <%when 'pulses'%>
          <%if params[:action] == 'show' %>
              <%= render 'shared/pulse_comment_form' %>
          <%end%>
      <%when 'nodes'%>
          <%if params[:action] == 'show' and session[:return_to] != current_node.id %>
              <%= render 'shared/message_form' %>
          <%end%>
      <%when 'inboxes'%>
          <%if params[:action] == 'show_messages' %>
              <%= render 'shared/message_form' %>
          <%end%>
      <%end%>
    </div>
  </div>