<div class = 'left-pane'>
    <div class = 'side-name'>
      <%case current_node.avatar.file.nil? %>
      <% when false %>
          <%= link_to image_tag("https://s3-us-west-2.amazonaws.com/pulsefy/avatars/node/#{@node.id}/thumb_image.jpg"),
                      "/show/#{current_node.id}" %>
          <% else %>
          <%= link_to image_tag('Q100.jpg'),  "/show/#{current_node.id}" %>
      <%end%>
    </div>
    <div class = 'side-connect'>
    </div>
    <div class = 'side-dendrite'>
      <div class = 'side-synapse'></div>
    </div>
    <div class = 'impulse'>
      <%case params[:controller]%>
      <%when 'static'%>
          <%if params[:action] == 'home'%>
              <%= render 'shared/pulse_form' %>
          <%end%>
      <%when 'assemblies'%>
          <%if params[:action] ==  'show'%>
              <%= render 'assemblies/assembly_pulse_form' %>
          <%end%>
      <%when 'pulses'%>
          <%if params[:action] == 'show' %>
              <%= render 'shared/pulse_comment_form' %>
          <%end%>
       <%when 'inboxes'%>
          <%if params[:action] == 'show_messages' %>
            <%= render 'shared/message_form' %>
           <%end%>
      <%end%>
    </div>
  </div>