<sidebar class = 'sidebar'>
  <% if signed_in? %>
      <h3>
        <%= current_node.username%>
      </h3>
      <img src= "<%= current_node.avatar_url(:thumb) %>">
      <ul>
      <br><li><%= link_to 'Home', root_path %></li></br>
      <br><li><%= link_to 'Form an Assembly', assemble_path %> </li></br>
      <br><li><%= link_to 'My Assemblies', view_path(:id => current_node.id) %> (<%= current_node.assemblies.count%>)</li></br>
      <br><li><%= link_to 'My Inputs', inputs_path(:id => current_node.id) %> (<%= current_node.inputs.count%>)</li></br>
      <br><li><%= link_to 'My Outputs', outputs_path(:id => current_node.id) %> (<%= current_node.outputs.count%>)</li></br>
      </ul>
  <%end%>
</sidebar>