<sidebar class = 'sidebar'>
  <div class = 'right-top'>
  <% if signed_in? %>
      <h3>
        <%= current_node.username%>
      </h3>
      <%if !current_node.avatar.file.nil? %>
          <%= image_tag current_node.avatar_url(:thumb) %>
      <% else%>
          <%= image_tag 'default.gif' %>
      <%end%>
      <ul>
      <br><li><%= link_to 'Home', root_path %></li></br>
      <br><li><%= link_to 'Form an Assembly', assemble_path %> </li></br>
      <br><li><%= link_to 'My Assemblies', view_path(:id => current_node.id) %> (<%= current_node.assemblies.count%>)</li></br>
      <br><li><%= link_to 'My Inputs', inputs_path(:id => current_node.id) %> (<%= current_node.inputs.count%>)</li></br>
      <br><li><%= link_to 'My Outputs', outputs_path(:id => current_node.id) %> (<%= current_node.outputs.count%>)</li></br>
      </ul>
  <%end%>
 </div>
</sidebar>