<topbar class = 'topbar'>
  <% if signed_in? %>
  <div class = 'list-box'>
    <div class = 'center'>
        <ul>
          | <li><%= link_to 'Home', root_path %></li> |
          <li><%= link_to 'Form an Assembly', assemble_path %> </li> |
          <li><%= link_to 'My Assemblies', view_path(:id => current_node.id) %></li> |
          <li><%= link_to 'My Inputs', inputs_path(:id => current_node.id) %></li> |
          <li><%= link_to 'My Outputs', outputs_path(:id => current_node.id) %></li> |
        </ul>
   </div>
 </div>
<%end%>
</topbar>