<div class='topbar'>
        <ul>
         <li> <%= link_to 'Home', root_path %> </li>
          <li> <%= link_to 'Form an Assembly', assemble_path %> </li>
          <li> <a><%= link_to 'My Assemblies', view_path(:id => current_node.id) %></li>
          <li> <a> <%= link_to 'My Inputs', inputs_path(:id => current_node.id) %></li>
          <li> <a><%= link_to 'My Outputs', outputs_path(:id => current_node.id) %></li>
        </ul>
</div>

<div class = 'sidename'>
  <%if !current_node.avatar.file.nil? %>
      <%= image_tag current_node.avatar_url(:thumb) %>
  <%end%>
</div>
