<!DOCTYPE html>
<html>
<head>
  <title>Pulsefy</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<%= render 'layouts/header' %>
<body>
<%if signed_in? %>
    <%= render 'layouts/tab-bar' %>
    <div class = 'fill-pane'>
  <div class = 'background-pane'>
    <div class = 'brace-pane'>
      <%= render 'layouts/left-pane'%>
      <%= render 'layouts/right-pane'%>
 <div class = 'scroll-pane'>
   <div class = 'inner-pulse'>
     <div class = 'pad-top'></div>
    <div class = 'mar-container'>
    <%= yield  %>
    </div>
      </div>
    </div>
  </div>
</div>
</div>
<%else%>
<div class = 'fill-pane'>
    <div class = 'background-pane'>
             <%= yield  %>
    </div>
</div>
<%end%>
</body>
</html>