<!DOCTYPE html>
<html>
<head>
  <title>Pulsefy</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application.js' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<%= render 'layouts/header' %>
<body>
<%if signed_in? %>
  <div id = 'fill-pane'>
    <%= render 'layouts/tab-bar' %>
  <div id = 'background-pane'>
      <%= render 'layouts/left-pane'%>
      <%= render 'layouts/right-pane'%>
   <div id = 'inner-pulse'>
         <div class = 'mar-container'>
             <%= yield  %>
         </div>
     </div>
  </div>
</div>
</body>
</html>
<%else%>
<div id = 'fill-pane'>
    <div id = 'background-out'>
             <%= yield  %>
    </div>
</div>
<%end%>
</body>
</html>