<!DOCTYPE html>
<html>
<head>
  <title>Pulsefy</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
<body>
<%if signed_in? %>
<%= render 'layouts/sidebar' %>
<%= render 'layouts/side-connect' %>
<%= render 'layouts/rightbar' %>
<div class = 'pulsefeed'>
   <div class = 'tab-bar'>
    <div ID = 'top_navigation'>
      <%= render_navigation %>
    </div>
   </div>
  <div class = inner-pulse>
<%= yield  %>
  <%= debug(params) %>
   <%= current_node.id %>
    <%= render 'layouts/footer' %>
 </div>
</div>
<%else%>
<%= yield  %>
<%end%>
</body>
</html>