<!DOCTYPE html>
<html>
<head>
  <title>Pulsefy</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
<body>
<% if signed_in? %>
<%= render 'layouts/sidebar' %>
<%end%>
        <% flash.each do |key, value| %>
         <div class='alert'<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
  <% if signed_in? %>
     <%= render 'layouts/rightbar' %>
  <%end%>
 </body>
</html>
