<div class = 'pad-block'><div class = 'title-box'> Messages </div></div>
<% if !@messages.nil? %>
    <ol class="messages">
      <%= render @messages %>
    </ol>
    <%= will_paginate @messages %>
<% end %>
<div class = 'form-container'>
<%= form_for (@message) do |f| %>
    <% if params[:errors] %>
        <div id="error_explanation">
          <ul>
            <%params[:errors].each do |msg| %>
                <li> <%= msg %></li>
            <% end %>
          </ul>
        </div>
    <%end%>
    <%= f.text_area :content, :rows => 4 %>
    <% if @convo.interrogator_id = current_node.id %>
        <%= f.hidden_field :receiver_id, :value => @convo.interlocutor_id %>
    <% else %>
        <%= f.hidden_field :receiver_id, :value => @convo.interrogator_id %>
    <% end %>
    <div class = 'button-box'>
      <%= f.submit "Message", :disable_with => 'Sending...', :class => "btn btn-small btn-primary" %>
    </div>
<% end %>
</div>